.movieCast {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.movieCast li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 200px;
}